[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[dev-packages]



[packages]

Django = "*"
requests = "*"
simplejson = "*"
gunicorn = "*"
whitenoise = "*"
APScheduler = "*"
configparser = "*"
mysqlclient = "*"
dateutils = "*"
"psycopg2-binary" = "*"
