{% extends "btc_chart/base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={% static 'index.css' %}>

{% endblock %}

{% block content %}


<div class="graph-div container">
  <div class="control_btns container">
    <div class="left">
      <button  id="btn_1h" class="btn range">1h</button>
      <button  id="btn_12h" class="btn range">12h</button>
      <button  id="btn_1d" class="btn range">1d</button>
    </div>
    <div class="currency right">
      <input type="checkbox" id="currency-toggle" checked data-toggle="toggle"
      data-on="<i class='fas fa-shekel-sign'></i>"
       data-off="<i class='fas fa-dollar-sign'></i>"
       data-offstyle="primary"
        data-style="switch">
    </div>


  </div>


<canvas id="myChart" width="1200" height="600"></canvas>


</div>

{% endblock content%}

{% block javascript %}

<script src="{% static 'jscripts/render_chart.js' %}"></script>
<script src="{% static 'jscripts/basic.js' %}"></script>



{% endblock javascript %}
