{% extends "btc_chart/base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={% static 'index.css' %}>

{% endblock %}

{% block content %}


<div class="root" style="width: 90%; margin: auto">

  <div class="control_btns container">
      <div class="left">
          <button  id="btn_1h" class="btn range">1h</button>
          <button  id="btn_12h" class="btn range">12h</button>
          <button  id="btn_1d" autofocus class="btn range">1d</button>
          <button  id="btn_1w" class="btn range">1w</button>
          <button  id="btn_1m" class="btn range">1m</button>
      </div>
      <div class="currency right">
          <input type="checkbox" id="currency-toggle" checked data-toggle="toggle"
          data-on="<i class='fas fa-shekel-sign'></i>"
          data-off="<i class='fas fa-dollar-sign'></i>"
          data-offstyle="primary"
          data-style="switch">
      </div>
  </div>

<div class="graph-div container">
  <canvas id="priceChart" ></canvas>

</div>

</div>


{% endblock content%}

{% block javascript %}

<script src="{% static 'jscripts/render_chart.js' %}"></script>
<script src="{% static 'jscripts/basic.js' %}"></script>




{% endblock javascript %}
